<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *;
    script-src 'self' 'unsafe-inline';
    script-src-elem 'self' 'unsafe-inline';
    style-src 'self' 'unsafe-inline';
    img-src 'self' data: http;"
    />

    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/jquery-3.5.1.min.js"></script>
    <script src="/popper.min.js"></script>
    <script src="/bootstrap.js"></script>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-dark navbar-expand-lg">
      <object
        data="/images/logo.svg"
        type="image/svg+xml"
        class="logo-main mr-2"
      ></object>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/animations"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Browse
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Official</a>
              <a class="dropdown-item" href="#">Featured</a>
              <div class="dropdown-divider"></div>
              <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              <% if (categories) { %>
                <% categories.forEach(category => {%>
                  <a class="dropdown-item" href="#"><span class="mr-2">&#<%=category.emojiCode%>;</span><%=category.name%></a>
                <% }) %>
              <% } %>
            </div>
          </li>

          <% if (user) {%>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile/<%=user._id%>">Profile</a>
          </li>
          <% } %> <% if (!user) {%>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>

          <% } %>
        </ul>
        <% if (user) {%>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <div class="nav-link">Howdy, <%=user.username%> !</div>
          </li>
        </ul>
        <% } %>
        <form class="form-inline" action="/animations" method="GET" id="searchForm">
          <div class="searchbtnloc">
            <input
              class="form-control mr-sm-2 searchAnim"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="searchParameter"
            />
            <button class="searchClick p-0" type="submit"><object class="searchbtn hidden"  data="/images/searchbutton.svg" type="image/svg+xml"></object></div>
            </button>
        </form>
        <form class="form-inline" action="/animations/new" method="GET">
          <button class="btn btn-info" id="createAnimButton">
            Create animation!
          </button>
        </form>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form> -->
      </div>
    </nav>
    <script src="/search.js"></script>
    <script src="/navbarFader.js"></script>
  </body>
</html>
