<nav class="navbar sticky-top navbar-dark navbar-expand-lg">
    <object data="/images/logo.svg" type="image/svg+xml" class="logo-main mr-2"></object>
    </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/animations"
            >Home <span class="sr-only">(current)</span></a
             >
        </li>
        </ul>
  </nav>